# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# Env files (never commit)
.env
.env.*
!.env.example
!.env.*.example

# Secrets
*firebase-adminsdk*.json
**/key.properties
**/*.keystore
**/*.jks

# Local uploads
api/uploads/

# Build outputs
api/dist/
api/node_modules/
mobile/build/
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
